*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'League Spartan';
  font-weight: 500;
}

img{
  background-repeat: no-repeat;
}

.slide {
  padding: 4rem;
}

.slide1 {
  display: flex;
  justify-content: center;
  align-items: center;
  columns: 2;
}

.slide4 {
  display: flex;
  justify-content: center;
  align-items: center;
  columns: 3;
  bottom: 0;
}

.attribution {
  position: absolute;
  margin: 50px;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}