*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'League Spartan';
}

.attribution {
  position: absolute;
  margin: 50px;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}